{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container" style="font-family: 'Jost', sans-serif;">
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Here</legend>
                {% bootstrap_form form %}
            </fieldset>
           <div class="form-group">
               <button class="btn btn-outline-info" type="submit">post</button>
           </div> 
        </form>
    </div>
</div>
{% endblock %}
